/* sermon.css */

*, *::before, *::after {
    box-sizing: border-box;
    /*outline: 0.25pt solid rgba(255, 0, 0, 0.2); }*/
}


:root {
    --font-standard: Menlo, Monaco, 'Courier New', sans-serif;
    --font-size: 12pt;

    --padding: 1rem;
    --padding-cell: 0.5rem;


}



html, body {
    margin: 0;
    padding: 0;
}


body {

    font-family: var(--font-standard);
    font-size: var(--font-size);
    padding: var(--padding);
}


.invisible {
    visibility: hidden;
}
.hidden {
    text-decoration: line-through;
    display: none;
}
.search-hidden {
    display: none;
}
.highlight {
    font-weight: bold;
    background-color: yellow;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}



table, th, td, tr {
    border: 1px solid black;
}




table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

th, td {
  padding: var(--padding-cell);
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  cursor: pointer;
  background: #f5f5f5;
}

th.asc, th.desc {

}
th.asc::after {
    content: '\25B2';  /*Arrow up*/
    margin-left: 0.5rem;

}
th.desc::after {
    content: '\25BC'; /*Arrow down*/
    margin-left: 0.5rem;
}

td.code {
    cursor: pointer;
    font-weight: bold;
}

tr.details {

}

tr.duplicate {
    display: none;
}
tr.details.collapsed {
    display: none;
}
tr.details.force-expanded {
    display: table-row!important;
}


input {
    width: 100%;
    padding: 1rem;
}
#search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
}
#searchInput {
    width: 100%;
    border-color: blue;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
#searchResult {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #777;
    white-space: nowrap;
}
#searchClear {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    height: 3.0rem;
    width: 3.0rem;
    background-color: #aaa;
    border: none;
    border-radius: 50%;

}

a {
  text-decoration: none;
  margin-right: 5px;
}






