/* sermon.css */

*, *::before, *::after {
    box-sizing: border-box;
    /*outline: 0.25pt solid rgba(255, 0, 0, 0.2); }*/
}


:root {
    --font-standard: Menlo, Monaco, 'Courier New', sans-serif;
    --font-size: 12pt;

    --padding: 1rem;
    --padding-cell: 0.5rem;


}



html, body {
    margin: 0;
    padding: 0;
}


body {

    font-family: var(--font-standard);
    font-size: var(--font-size);
    padding: var(--padding);
}


.hidden {
    text-decoration: line-through;
    background-color: orange;
}


table, th, td, tr {
    border: 1px solid black;
}




table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: var(--padding-cell);
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  cursor: pointer;
  background: #f5f5f5;
}

th.asc, th.desc {

}
th.asc::after {
    content: '\25B2';
    margin-left: 0.5rem;

}
th.desc::after {
    content: '\25BC';
    margin-left: 0.5rem;
}



input {
  width: 100%;
  padding: 8px;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  margin-right: 5px;
}






