<!doctype html>
<!-- sermon.html -->
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Predikoregister – {{ user }}</title>
        <style>
            /* Style for html page */
            {% include "sermon.css" %}
        </style>
    </head>
    <body>
        <header>

        </header>
        <main>
            {% set ns = namespace(index=0) %}

            <h1>Predikoregister – {{ user }}</h1>

            <div id="search">
                <input id="searchInput" class="inactive" type="search" placeholder="Sök ..." />
                <div id="searchResult"></div>
            </div>
            <div id="searchInstruction">Tips: Sök på ett eller flera ord, andvänd "..." för fras och -ord för att exkludera ord.<br/>Sök med '/' och navigera med Enter och Shift + Enter.</div>

            <table id="sermon" data-sort-direction="ASC" data-sort-column="0">
                <thead>
                    <tr>
                        <th class="code desc" onclick="sortTable(0)">Kod</th>
                        <th class="title" onclick="sortTable(1)">Titel</th>
                        <th class="date hidden" onclick="sortTable(2)">Datum</th>
                        <th class="all-dates" onclick="sortTable(2)">Datum</th>
                        <th class="bible-references" onclick="sortTable()">Bibelreferenser</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in sermons %}
                    <tr data-index="{{ ns.index }}">
                        <td class="code" onclick="toggleData('{{ ns.index }}')">{{ s.code }}</td>
                        <td class="title">{{ s.title }}</td>
                        <td class="date hidden">{{ s.date }}</td>
                        <td class="all-dates">{{ ', '.join(s.all_dates) }}</td>
                        <td class="bible-references">{{ ', '.join(s.bible_references) }}</td>
                    </tr>
                    <tr data-index="{{ ns.index }}" class="details collapsed">
                        <td class="invisible"></td>
                        <td colspan="3">
                            <div class="detail-row"><span class="no-search">Sammanhang:</span> {{ s.context }}</div>
                            <div class="detail-row"><span class="no-search">Introduktion:</span> {{ s.introduction }}</div>
                            <div class="detail-row"><span class="no-search">Budskap:</span> {{ s.message }}</div>
                            <div class="detail-row"><span class="no-search">Kommentar:</span> {{ s.notes }}</div>
                            <div class="detail-row"><span class="no-search">Omdöme:</span> {{ s.report }}</div>
                            <div class="detail-row"><span class="no-search">Relaterad predikan:</span> {{ s.related_sermons }}</div>

                            <div class="detail-row no-search">
                                <span class="no-search">Manus:</span>{% if not s.manuscripts[0] %} –{% endif %}
                                {% for x in s.manuscripts %}
                                {% if mode == 'local' %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ x.date }}</span> <span class="file-name"><a href="../files/manuscripts/{{x.file_name}}" target="_blank">{{ x.file_name }}</a></span> <span class="notes">{{ x.notes or '' }}</span>
                                {% else %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ x.date }}</span> <span class="file-name">{{ x.file_name }}</span> <span class="notes">{{ x.notes or '' }}</span>
                                &#x2197;<a href="{{ cloud.manuscripts }}" target="_blank">Öppna i {{ cloud.provider }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="detail-row">
                                <span class="no-search">Resurs:</span>{% if not s.resources[0] %} –{% endif %}
                                {% for x in s.resources %}
                                {% if mode == 'local' %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="title"><a href="../files/resources/{{ x.file_name }}" target="_blank">{{ x.title }}</a></span>  <span class="notes">{{ x.notes or '' }}</span>
                                {% else %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="title">{{ x.title }}</span>  <span class="notes">{{ x.notes or '' }}</span>
                                &#x2197;<a href="{{ cloud.resources }}" target="_blank">Öppna i {{ cloud.provider }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="detail-row">
                                <span class="no-search">Gudstjänst:</span>{% if not s.services[0] %} –{% endif %}
                                {% for x in s.services %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ x.date }}</span> <span class="place">{{ x.place }}</span>  <span class="notes">{{ x.notes or '' }}</span>
                                {% endfor %}
                            </div>
                            <div class="detail-row no-search">
                                <span class="no-search">Inspelning:</span>{% if not s.recordings[0] %} –{% endif %}
                                {% for x in s.recordings %}
                                {% if x.file_name %}
                                    {% if mode == 'local' %}
                                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ x.date }}</span> <span class="file-name"><a href="../files/recordings/{{ x.file_name }}" target="_blank">{{ x.file_name }}</a></span>  <span class="type">({{ x.type }})</span> <span class="notes">{{ x.notes or '' }}</span>
                                    {% else %}
                                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ x.date }}</span> <span class="file-name">{{ x.file_name }}</span>  <span class="type">({{ x.type }})</span> <span class="notes">{{ x.notes or '' }}</span>
                                    &#x2197;<a href="{{ cloud.recordings }}" target="_blank">Öppna i {{ cloud.provider }}</a>
                                    {% endif %}
                                {% elif x.external_url %}
                                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ x.date }}</span> <span class="file-name"><a href="{{ x.external_url }}" target="_blank">{{ x.external_url }}</a></span>  <span class="type">({{ x.type }})</span> <span class="notes">{{ x.notes or '' }}</span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% set ns.index = ns.index + 1 %}
                    {% endfor %}
                </tbody>
            </table>

        </main>
        <footer>
            <div>© Oskar Fornander 2026</div>
        </footer>
        <script type="text/javascript">
            {% include "sermon.js" %}
        </script>
    </body>
</html>
