<!doctype html>
<!-- sermon.html -->
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Predikoregister – {{ user }}</title>
        <style>
            /* Style for html page */
            {% include "sermon.css" %}
        </style>
    </head>
    <body>
        <header>

        </header>
        <main>
            {% set ns = namespace(index=0) %}

            <h1>Predikoregister – {{ user }}</h1>

            <div id="search">
                <input id="searchInput" type="search" placeholder="Sök ..." />
                <div id="searchResult"></div>
            </div>

            <table id="sermon" data-sort-direction="ASC" data-sort-column="0">
                <thead>
                    <tr class="heading">
                        <th class="code desc" onclick="sortTable(0)">Kod</th>
                        <th class="title" onclick="sortTable(1)">Titel</th>
                        <th class="date hidden" onclick="sortTable(2)">Datum</th>
                        <th class="all-dates" onclick="sortTable(2)">Datum</th>
                        <th class="bible-references" onclick="sortTable()">Bibelreferenser</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in sermons %}
                    <tr data-index="{{ ns.index }}">
                        <td class="code" onclick="toggleData('{{ ns.index }}')">{{ s.code }}</td>
                        <td class="title">{{ s.title }}</td>
                        <td class="date hidden">{{ s.date }}</td>
                        <td class="all-dates">{{ ', '.join(s.all_dates) }}</td>
                        <td class="bible-references">{{ ', '.join(s.bible_references) }}</td>
                    </tr>
                    <tr data-index="{{ ns.index }}" class="details collapsed">
                        <td class="invisible"></td>
                        <td colspan="3">
                            Detaljer ... {{ s.code }}
                        </td>
                    </tr>
                    {% set ns.index = ns.index + 1 %}
                    {% endfor %}
                </tbody>
            </table>

        </main>
        <footer>
            <div>© Oskar Fornander 2026</div>
        </footer>
        <script type="text/javascript">
            {% include "sermon.js" %}
        </script>
    </body>
</html>
